@page
@model myCoreWebPages21.Pages.Sessions.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Session</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Session.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Session.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Session.Abstract)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Session.Abstract)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Session.Presenter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Session.Presenter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Session.Attendees)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Session.Attendees)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Session.Timeslot)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Session.Timeslot)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Session.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
